{% extends base_template %}

{% block view %}
<div class="container">
    <h2>Games</h2>
    <div class="pure-g">
        {% for game in games %}
            <div class="pure-u-1-3">
                <p><span style="font-weight: bolder;">{{ game.league }}</span> {{ game.description }}</p>
                {% if game.ended %}<p><b>Ended</b></p>{% endif %}
                <p>Time: {{ game.date_eastern }}</p>
                {% for team in game.data.participants %}
                    <p>{{team.name}} {{team.score}}</p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock view %}