{% extends base_template %}

{% block view %}
<div class="container">
    <h2>Games</h2>
    <ul>
        {% for game in games %}
        <li>Game #{{ game.gameUid }} on {{ game.date }}</li>
        <ul>
            {% for team in game.team_data %}
            <li style="margin-bottom: 10px;">{{ team.team }} 
                <button class="pure-button pure-button-primary">({{ team.spread }})</button>
                <button class="pure-button pure-button-primary">{{ team.moneyline }}</button></li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
</div>
{% endblock view %}